---
import MainLayout from "@layouts/MainLayout.astro";
import IntroDescription from "@components/About/IntroDescription.svelte";
import WhatInterestsMe from "@components/About/WhatInterestsMe.svelte";
import HowILearn from "@components/About/HowILearn.svelte";
import ComputerRelatedTopicsIEnjoy from "@components/About/ComputerRelatedTopicsIEnjoy.svelte";
import GetInTouch from "@components/About/GetInTouch.svelte";
import PageLifecycle from "@components/PageLifecycle.svelte";
---

<MainLayout title="Thanasis Papapostolou - oblivious to the dream">
    <main>
        <IntroDescription client:load/>
        <WhatInterestsMe client:load/>
        <HowILearn client:load/>
        <ComputerRelatedTopicsIEnjoy client:load/>
        <GetInTouch client:load/>
    </main>
</MainLayout>

<PageLifecycle current_page="about" client:load/>

<style>
    main {
        font-family: var(--text-font);
    }
</style>
