---
import Layout from "@layouts/Layout.astro";
import IntroDescription from "@components/About/IntroDescription.svelte";
import WhatInterestsMe from "@components/About/WhatInterestsMe.svelte";
import HowILearn from "@components/About/HowILearn.svelte";
import ComputerRelatedTopicsIEnjoy from "@components/About/ComputerRelatedTopicsIEnjoy.svelte";
import GetInTouch from "@components/About/GetInTouch.svelte";
---

<Layout title="Thanasis Papapostolou - oblivious to the dream" current_page="about">
    <main>
        <IntroDescription client:load/>
        <WhatInterestsMe client:load/>
        <HowILearn client:load/>
        <ComputerRelatedTopicsIEnjoy client:load/>
        <GetInTouch client:load/>
    </main>
</Layout>

<style lang="scss">
    main {
        margin: 0 auto;
        width: 50vw;
    }
</style>
