---
import Layout from "@layouts/Layout.astro";
import PageLifecycle from "@components/PageLifecycle.svelte";
---

<Layout title="Thanasis Papapostolou - oblivious to the dream">
    <PageLifecycle current_page="about" client:load/>
    <main>
        <h1>ABOUT</h1>
    </main>
</Layout>

<style lang="scss">
    main {
        text-align: center;
        padding-top: 6rem;

        h1 {
            font-size: 6rem;
        }
    }
</style>
