---
import Work from "@components/Work/Work.svelte";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Thanasis Papapostolou - oblivious to the dream" current_page="work">
    <main>
        <Work number="1"/>
        <Work number="2"/>
        <Work number="3"/>
        <Work number="4"/>
        <Work number="5"/>
        <Work number="6"/>
        <Work number="7"/>
        <Work number="8"/>
        <Work number="9"/>
        <Work number="10"/>
    </main>
</Layout>

<style lang="scss">
    main {
        text-align: center;
        padding-top: 6rem;
    }
</style>
