@import "./SaolDisplay.css";
@import "./SaolText.css";
@import "./RoadRage.css";
@import "./FiraCode.css";
@import "./Vogue.css";

:root {
    --display-font: "Saol Display", Avenir, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --text-font: "Saol Text", Avenir, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    --road-rage-font: "Road Rage";
    --vogue-font: "Vogue";
    --fira-code-font: "Fira Code";
}
