@font-face {
  font-family: "Saol Text";
  src: url("/fonts/SaolText/SaolTextThin");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Saol Text";
  src: url("/fonts/SaolText/SaolTextThinItalic");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "Saol Text";
  src: url("/fonts/SaolText/SaolTextLight");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Saol Text";
  src: url("/fonts/SaolText/SaolTextLightItalic");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Saol Text";
  src: url("/fonts/SaolText/SaolTextRegular");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Saol Text";
  src: url("/fonts/SaolText/SaolTextRegularItalic");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Saol Text";
  src: url("/fonts/SaolText/SaolTextBook");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Saol Text";
  src: url("/fonts/SaolText/SaolTextBookItalic");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Saol Text";
  src: url("/fonts/SaolText/SaolTextMedium");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Saol Text";
  src: url("/fonts/SaolText/SaolTextMediumItalic");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Saol Text";
  src: url("/fonts/SaolText/SaolTextSemibold");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Saol Text";
  src: url("/fonts/SaolText/SaolTextSemiboldItalic");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Saol Text";
  src: url("/fonts/SaolText/SaolTextBold");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Saol Text";
  src: url("/fonts/SaolText/SaolTextBoldItalic");
  font-weight: 800;
  font-style: italic;
}
