---
import MainLayout from "@layouts/MainLayout.astro";
import WorkContent from "@layouts/WorkContent.astro";
---

<MainLayout title="cSpec - Behaviour driven development for C">
    <WorkContent>
        <h1>CSPEC</h1>
    </WorkContent>
</MainLayout>

<style>
    h1 {
        padding: 5vw;
        font-size: 5vw;
    }
</style>
