---
import MainLayout from "@layouts/MainLayout.astro";
import WorkContent from "@layouts/WorkContent.astro";
---

<MainLayout title="Dynadesign - Hardware design of the future">
    <WorkContent>
        <h1>DYNADESIGN</h1>
    </WorkContent>
</MainLayout>

<style>
    h1 {
        padding: 5vw;
        font-size: 5vw;
    }
</style>
