---
const { title, current_page } = Astro.props;
import Head from "@components/Head.svelte";
import Header from "@components/Header/index.svelte";
import PageLifecycle from "@components/PageLifecycle.svelte";
---

<script>
    // GSAP Animations
    import gsap from "gsap";
    import ScrollTrigger from "gsap/ScrollTrigger";

    // Page smooth loader + GSAP tween
    import Swup from "swup";
    import SwupHeadPlugin from "@swup/head-plugin";
    import SwupJsPlugin from "@swup/js-plugin";

    // Smooth Scrollbar + GSAP ScrollTrigger
    import Scrollbar from "smooth-scrollbar";

    const select = e => document.querySelector(e);

    let smooth_scrollbar = Scrollbar.init(select("#viewport"), {
        continuousScrolling: false,
        damping: 0.08,
    });

    gsap.registerPlugin(ScrollTrigger);

    smooth_scrollbar.track.xAxis.element.remove();
    smooth_scrollbar.track.yAxis.element.remove();

    ScrollTrigger.scrollerProxy(select("#viewport"), {
        scrollTop(value) {
            if(arguments.length)
                smooth_scrollbar.scrollTop = value;
            else
                return smooth_scrollbar.scrollTop;
        },
    });

    smooth_scrollbar.addListener(ScrollTrigger.update);

    const to_about_in = next =>
        gsap.to(select("#swup"), {
            onComplete: next,
        });
    
    const to_about_out = next =>
        gsap.to(select("#swup"), {
            duration: 0.1,
            onComplete: next,
        });
    
    const to_work_in = next =>
        gsap.to(select("#swup"), {
            ease: "power2.inOut",
            autoAlpha: 1,
            onComplete: next,
        });
    
    const to_work_out = next =>
        gsap.to(select("#swup"), {
            duration: 0.8,
            ease: "power2.inOut",
            autoAlpha: 0,
            onComplete: next,
    });

    const options = [
        {
            from: "/",
            to: "/about",
            in: (next, _infos) => to_about_in(next),
            out: (next, _infos) => to_about_out(next),
        },
        {
            from: "/about",
            to: "/",
            in: (next, _infos) => to_work_in(next),
            out: (next, _infos) => to_work_out(next),
        }
    ];

    new Swup({
        animateHistoryBrowsing: true,
        plugins: [
            new SwupHeadPlugin(),
            new SwupJsPlugin(options),
        ],
    });
</script>

<!DOCTYPE html>
<html lang="en">
    <Head {title}/>

    <body>
        <Header client:load/>
        <PageLifecycle {current_page} client:load/>

        <div id="viewport">
            <main id="swup">
                <slot/>
            </main>
        </div>
    </body>
</html>

<style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
    @import "./resets.css";

    :root {
        --coral: #f88379;       --red: #ed1c24;     --crimson: #dc143c;     --rosewood: #65000b;
        --almond: #efdecd;      --brown: #9F8170;   --coffee: #6f4e37;      --umbral: #635147;
        --gold: #ffd700;        --orange: #f7941d;  --pomodoro: #ff6347;    --mahogany: #c04000;
        --cream: #fffcc9;       --yellow: #fff200;  --citrine: #e4d00a;     --saffron: #f4c431;
        --lime: #9efd3f;        --green: #00a651;   --olive: #7ba05b;       --forest: #00563B;
        --azure: #e4ffff;       --cyan: #15f4ee;    --tiffany: #81D8D0;     --teal: #009494;
        --periwinkle: #ccccff;  --blue: #1414ff;    --lapis: #26619c;       --navy: #000094;
        --lilac: #c8a2c8;       --purple: #a020f0;  --royal: #7851a9;       --indigo: #4b0082;
        --blush: #e082b7;       --magenta: #ff0090; --violet: #c71585;      --murrey: #7d0047;
        --champagne: #f1ddcf;   --pink: #ffc0cb;    --valentine: #e6a6be;   --rose: #c08081;
        --snow: #fffafa;        --white: #f7f7f7;   --smoke: #f5f5f5;       --bone: #e3dac9;
        --silver: #c0c0c0;      --gray: #848482;    --dim: #555555;         --metal: #2a3439;
        --onyx: #353839;        --black: #1b1b1b;   --raisin: #242124;      --night: #111111;

        --font: Raleway, Avenir, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    }

    :root {
        font-family: var(--font);
        font-weight: 500;
        font-feature-settings: "lnum";
        color-scheme: light dark;

        /* Font smoothing */
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;

        /* Unselectable text */
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;

        /* Default colors */
        color: var(--fg-color);
        background-color: var(--bg-color);
    }

    @media (prefers-color-scheme: light) {
        :root {
            --fg-color: var(--night);
            --bg-color: var(--bone);
        }
    }
    @media (prefers-color-scheme: dark) {
        :root {
            --fg-color: var(--bone);
            --bg-color: var(--night);
        }
    }

    code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }

    #viewport {
        /* margin-top: 6rem; */
        overflow: hidden;
        position: fixed;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
    }
</style>
