---
const { title } = Astro.props;
import CrtIntro from "@components/CrtIntro/CrtIntro.svelte";
import Head from "@components/Head/Head.svelte";
import Header from "@components/Header/Header.svelte";
import GrainEffect from "@components/GrainEffect/GrainEffect.svelte";
---

<!DOCTYPE html>
<html lang="en">
    <Head {title}/>

    <body>
        <div class="main-content">
            <Header client:load/>

            <div class="smooth-wrapper">
                <div id="smooth-content">
                    <GrainEffect/>
                    <main id="swup">
                        <slot/>
                    </main>
                </div>
            </div>
        </div>

        <!-- Starts animation after main content is fetched -->
        <CrtIntro client:load/>
    </body>
</html>

<style is:global>
    @import "/styles/resets.css";
    @import "/styles/colors.css";
    @import "/styles/fonts.css";

    :root {
        font-family: var(--display-font);
        font-weight: 500;
        font-feature-settings: "lnum";
        color-scheme: light dark;

        /* Font smoothing */
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;

        /* Non-selectable text */
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;

        /* Colors */
        color: var(--fg-color);
        background-color: var(--bg-color);
    }

    /* Hide scrollbar */
    * {
        /* Firefox */
        scrollbar-width: none;
    }
    body::-webkit-scrollbar {
        display: none;
    }

    @media (prefers-color-scheme: light) {
        :root {
            --fg-color: var(--night);
            --bg-color: #e3dac9bf; /* Bone 75% opacity */
        }
    }
    @media (prefers-color-scheme: dark) {
        :root {
            --fg-color: var(--smoke);
            --bg-color: var(--night);
        }
    }

    code {
        font-family: "Fira Code", Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }

    .main-content {
        visibility: hidden;
    }
</style>
