---
const { title } = Astro.props;
import Intro from "@components/Intro.svelte";
import Head from "@components/Head.svelte";
import Header from "@components/Header/index.svelte";
---

<!DOCTYPE html>
<html lang="en">
    <Head {title}/>

    <body>
        <Intro client:load/>

        <div class="display-none">
            <Header client:load/>
    
            <div class="smooth-wrapper">
                <div id="smooth-content">
                    <main id="swup">
                        <slot/>
                    </main>
                </div>
            </div>
        </div>
    </body>
</html>

<style is:global>
    @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
    @import "./resets.css";
    @import "./colors.css";

    :root {
        font-family: var(--font);
        font-weight: 500;
        font-feature-settings: "lnum";
        color-scheme: light dark;

        /* Font smoothing */
        font-synthesis: none;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        -webkit-text-size-adjust: 100%;

        /* Non-selectable text */
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        cursor: default;
    }

    /* Hide scrollbar */
    * {
        /* Firefox */
        scrollbar-width: none;
    }
    body::-webkit-scrollbar {
        display: none;
    }

    @media (prefers-color-scheme: light) {
        :root {
            --fg-color: var(--night);
            --bg-color: var(--bone);
        }
    }
    @media (prefers-color-scheme: dark) {
        :root {
            --fg-color: var(--smoke);
            --bg-color: var(--night);
        }
    }

    code {
        font-family: "Fira Code", Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
    }

    .display-none {
        display: none;
    }
</style>
