---
import Header from "@components/Header/Header.svelte"
import Cursor from "@components/Cursor/Cursor.svelte";
import Scrollbar from "@components/Scrollbar/Scrollbar.svelte";
import ThemeToggle from "@components/ThemeToggle/ThemeToggle.svelte";
import GrainEffect from "@components/GrainEffect/GrainEffect.svelte";
import CrtIntro from "@components/CrtIntro/CrtIntro.svelte";
---

<Header client:load/>
<Cursor client:load/>
<Scrollbar client:load/>
<ThemeToggle client:only="svelte"/>

<div id="smooth-wrapper">
    <div id="smooth-content">
        <GrainEffect/>
        <main id="swup">
            <slot/>
        </main>
    </div>
</div>
